.content-title {
  display: inline-block;
  width: 100%;
}
.title-cutline {
  border-bottom: 2px solid #333;
  margin: 30px 0px 0px 0px;
}
.content-subtitle {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 10px 0px 0px 0px;
}
.content-subtitle > .subtitle-column {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-item {
}
.column-item > .title-icon {
  font-size: 1.2em;
}
.column-item > h3 {
  display: inline-block;
  margin: 0px;
}
.column-item > .subtitle-icon {
  width: 20px;
  height: 20px;
}
.column-item > .timeline-location-icon {
  font-size: 0.8rem;
}
.column-item > .timeline-loaction-text {
  text-align: right;
  font-size: 0.8rem;
}
.column-item > h4 {
  font-size: 0.875rem;
  margin: 0px 0px 0px 30px;
}
.column-item > li > .icon-div {
  float: left;
  margin: 4px 4px 0px 25px;
}
.column-item > li > .exp-list-line {
  margin: 5px 0px 0px 45px;
}
.content-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.content-chart {
  width: 180px;
  margin: 2px 0px 0px 0px;
  float: left;
}
.chart-list {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart-list > .description {
  font-size: 14px;
}
